# --- 1. Python & Scripts ---
__pycache__/
*.pyc
*.pyo

# --- 2. LaTeX Build Junk (The "Factory Waste") ---
# We ignore these because they regenerate every time you compile
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.dvi
*.lof
*.lot

# --- 4. Obsidian Specifics ---
# Track your plugins and settings, but ignore your specific window layout
# (so your mobile layout doesn't overwrite your laptop layout)
.obsidian/workspace
.obsidian/workspace.json
.obsidian/cache
.obsidian/app.json

# --- 5. OS & Editor Junk ---
.DS_Store
Thumbs.db
.vscode/
!.vscode/settings.json
!.vscode/tasks.json

# --- 6. PDF Strategy ---
# Ignore all PDFs by default (to prevent accidental backup of random downloads)
*.pdf

AppCode/node_modules
AppCode/package-lock.json
AppCode/public/mn-editor.bundle.js
AppCode/public/mn-editor.bundle.js.map
mobile/package-lock.json
AppCode/public/mn-editor.bundle.js
